body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.block{
    background-color: #7B1FA2;
    height: 500px;
    width: 500px;
    box-shadow: 7px 7px 7px 7px #503455;
    border-radius: 32px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0px 16px 0px 16px
}

label{
    text-align: center;
    margin-bottom: 16px;
}

h2{
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
}

.field{
    height: 30px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: white;
}

.button{
    margin-top: 16px;
    border-radius: 16px;
    height: 25px;
    border: white;
    font-family: cursive;
    background-color: black;
    color: white;
}
